* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

.main-box {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.main-box-item {
  width: 300px;
  padding: 10px;
  position: relative;
  background-color: #eeeeee;
  margin-right: 30px;
}

.main-box-item:last-child {
  margin-right: 0;
}

.main-box-image {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.main-box-image_2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.main-box-image_3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.main-box-title {
  margin: 15px 0 5px 0;
}

.main-box-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width:768px) {
  header {
    width: 100%;
  }

  main {
    width: 100%;
  }

  .main-box {
    width: 90%;
    display: block;
  }

  .main-box-item {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .main-box-image {
    width: 100%;
  }

  .main-box-image_2 {
    width: 100%;
  }

  .main-box-image_3 {
    width: 100%;
  }

  .main-box-title {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}
