* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

.main-box {
  width: 960px;
  margin: 50px auto;
  padding: 10px;
}

.main-box-item {
  width: 300px;
  background-color: #eeeeee;
}

.main-box-image {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: center;
}

.main-box-title {
  margin: 15px 0 5px 0;
}